accelerate
torch
safetensors
bitsandbytes
scipy
transformers
tqdm
packaging
pytest
numpy
pyyaml
datasets
psutil
setuptools
torchtext
torchdata
portalocker
pytorch-lightning
scipy
scikit-learn
tensorboard
torch-tb-profiler
matplotlib
mplcursors
mpld3